body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:url(fundo.jpg); 
    background-size: cover;
    color: white;
    
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 480px;/**/
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 40px;
}
.box h2{
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
}
.box .inpuBox{
    position: relative;
}
.box .inpuBox input{
    color: white;
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 0.5px solid white;
    letter-spacing: 1px;
}
.box .inpuBox  label{
    letter-spacing: 1px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 15px;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.box .inpuBox  input:focus ~ label,
.box .inpuBox  input:valid ~ label{
    top: -28px;
    left: 0;
    color:#03a9f4;
    font-size: 12px;
}
.box input[type="submit"]{
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.box select{
    align-items: center;
    background: transparent;
    color: #fff;
    border:none;
    border-bottom: 1px solid white;
    height: 30px;
}
.box option{
    background: transparent;
    color: #000;   
}
p{
    background: #000;
    margin-top: 45.8%;
    color: #fff;
}
.compra{
    width: 100%;
    font-size: 20px;
}
input .compra:active{
    background-color: #000;
}